{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="{{ particle.class|e }} g-categorylist">
        {% if particle.title %}
            <h2>{{ particle.title }}</h2>
        {% endif %}

        {% if not particle.source or particle.source == 'particle' %}
            {% for cat in particle.categories %}
                <a href="{{ cat.url }}" target="{{ cat.target|default('_self')|e }}"{% if cat.featured == 'enabled' %} class="featured"{% endif %}>
                    {{ cat.title|e }}
                </a>
            {% endfor %}
        {% else %}
            {% include '@particles/categorylist-' ~ gantry.platform.name ~ '.html.twig' ignore missing %}
        {% endif %}

        <a href="{{ particle.readmorelink }}" target="{{ particle.readmoretarget|default('_self')|e }}" class="g-categorylist-link">
            {{ particle.readmorelabel|e }}
        </a>
    </div>
{% endblock %}

