{# Load Content From WordPress #}
{% set attr_extra = particle.extra|attribute_array %}
{% set post_settings = particle.post %}
{% set filter = post_settings.filter %}
{% set sort = post_settings.sort %}
{% set limit = post_settings.limit %}
{% set start = limit.start %}
{% set display = post_settings.display %}

{# Sticky Posts #}
{% set sticky_posts = filter.sticky ? false : true %}

{# Query Posts #}
{% set query_parameters = {
    'posts_per_page': limit.total|default('-1'),
    'offset': start,
    'orderby': sort.orderby,
    'order': sort.ordering,
    'ignore_sticky_posts': sticky_posts
} %}

{% set categories = filter.categories|replace({' ': ',', ', ': ','}) %}

{% if filter.posts %}
    {% set query_parameters = query_parameters|merge({'post__in': filter.posts|replace({' ': ',', ', ': ','})|split(',')}) %}
{% else %}
    {% set query_parameters = query_parameters|merge({'cat': categories}) %}
{% endif %}

{% set posts = wordpress.query_posts(query_parameters) %}
{% set total = posts.get_pagination([]).total|abs %}
{% set total = max(posts|length, (total * max(0, limit.total)) - 1) %}

{% for post in posts %}
    {% if display.image.enabled and post.thumbnail.src %}
        {% set post_image = post.thumbnail.src %}
    {% endif %}

    <div class="swiper-slide">
        <div class="g-testimonials-image">
            <img src="{{ url(post_image) }}" alt="{{ post.title|raw }}" />
        </div>

        <div class="g-testimonials-wrapper">
            {% if not display.text.type == '' %}
                {% set post_text = display.text.type == 'excerpt' ? post.post_excerpt : post.content %}
                <h2 class="g-testimonials-content">
                    {% if display.text.formatting == 'text' %}
                        {{ post_text|truncate_text(display.text.limit)|raw }}
                    {% else %}
                        {{ post_text|truncate_html(display.text.limit)|raw }}
                    {% endif %}
                </h2>
            {% endif %}

            {% if display.author.enabled %}
                <p class="g-testimonials-author">
                    {{ post.author.name|e }}
                </p>
            {% endif %}

            <span class="g-testimonials-position">
                {{ post.terms('category')|join(', ') }}
            </span>
        </div>
    </div>
{% endfor %}
