{# Load Content From WordPress #}
{% set attr_extra = particle.extra|attribute_array %}
{% set post_settings = particle.post %}
{% set filter = post_settings.filter %}
{% set sort = post_settings.sort %}
{% set limit = post_settings.limit %}
{% set start = limit.start %}
{% set display = post_settings.display %}

{# Sticky Posts #}
{% set sticky_posts = filter.sticky ? false : true %}

{# Query Posts #}
{% set query_parameters = {
    'posts_per_page': limit.total|default('-1'),
    'offset': start,
    'orderby': sort.orderby,
    'order': sort.ordering,
    'ignore_sticky_posts': sticky_posts
} %}

{% set categories = filter.categories|replace({' ': ',', ', ': ','}) %}

{% if filter.posts %}
    {% set query_parameters = query_parameters|merge({'post__in': filter.posts|replace({' ': ',', ', ': ','})|split(',')}) %}
{% else %}
    {% set query_parameters = query_parameters|merge({'cat': categories}) %}
{% endif %}

{% set posts = wordpress.call('Timber::query_posts', query_parameters) %}
{% set total = posts.get_pagination([]).total|abs %}
{% set total = max(posts|length, (total * max(0, limit.total)) - 1) %}

<div class="g-casestudies-header">
    {% if particle.title %}
        <div class="g-casestudies-title">
            {% if particle.uppertitle %}
                <span class="g-casestudies-uppertitle">{{ particle.uppertitle|raw }}</span>
            {% endif %}
            {{ particle.title }}
        </div>
    {% endif %}

    <div class="g-casestudies-nav">
        <div class="g-casestudies-nav-container">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <div class="g-casestudies-nav-item selected" data-group="all">
                {{ particle.allitems|default('All items')|e }}
            </div>
            {% for item in categories|split(',') %}
                <div class="g-casestudies-nav-item" data-group="{{ item }}">
                    {{ wordpress.call('get_the_category_by_ID', item) }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="g-casestudies-grid {{ particle.cols }}">
    <div class="g-casestudies-grid-sizer"></div>
    {% for post in posts %}
        {% if display.image.enabled and post.thumbnail.src %}
            {% set post_image = post.thumbnail.src %}
        {% endif %}

        {% set cat = post.terms('category') %}
        {% set cat_groups = [] %}
        {% for single_cat in cat %}
            {% set cat_groups = cat_groups|merge([single_cat.id]) %}
        {% endfor %}
        <div class="g-casestudies-grid-item" data-groups='[{% for c in cat_groups %}"{{ c }}"{{ not loop.last ? "," }}{% endfor %}]'>
            <div class="g-casestudies-grid-item-wrapper g-casestudies-layout-alt-bottom">
                <div class="g-casestudies-grid-item-content">
                     {% if display.date.enabled %}
                       <div class="g-casestudies-grid-item-subtitle">
                           {% if display.date.enabled == 'modified' %}
                               {{ post.post_modified|date(display.date.format) }}
                           {% else %}
                               {{ post.post_date|date(display.date.format) }}
                           {% endif %}
                      </div>
                  {% endif %}


                    {% if display.title.enabled and post.title %}
                        <div class="g-casestudies-grid-item-title">{{ display.title.limit ? post.title|truncate_text(display.title.limit) : post.title }}</div>
                    {% endif %}

                    {% if display.text.type %}
                        {% set post_text = display.text.type == 'excerpt' ? post.post_excerpt : post.content %}
                        <div class="g-casestudies-grid-item-description">
                            {% if display.text.formatting == 'text' %}
                                {{ post_text|truncate_text(display.text.limit)|raw }}
                            {% else %}
                                {{ post_text|truncate_html(display.text.limit)|raw }}
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if display.read_more.enabled %}
                        <a href="{{ post.link|e }}" target="{{ display.read_more.target|default('_self')|e }}" title="{{ post.title|e }}" class="g-casestudies-grid-item-button {{ display.read_more.css }}">{{ display.read_more.label|default('Read More...') }}</a>
                    {% endif %}

                </div>

                <div class="g-casestudies-grid-item-image">
                    <img src="{{ url(post_image)|e }}" alt="{{ post.title|e }}"/>
                </div>

                <a href="{{ post.link|e }}" target="{{ display.read_more.target|default('_self')|e }}" class="g-casestudies-link-overlay"></a>
            </div>
        </div>
    {% endfor %}
</div>
